@font-face {
  font-family: nokia;
  src: url(../webfonts/NokiaKokia.ttf);
}

body {
  overflow-x: hidden;
}

.phone {
  text-decoration: none;
  color: grey;
  position: relative;
}

.phone.active {
  color: black;
}

.phone span.badge-new {
  position: absolute;
  top: -7px;
  right: 5px;
  padding: 4px 10px;
}

#clock {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #ffffff;
}

.nokia {
  font-family: nokia;
}